@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: #1a2f3e;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
}

li {
	list-style: none;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
}

.register-background {
  display: flex;
  justify-content: center;
}

.register-form {
	background: #fff;
	width: 750px;
	height: 450px;
	padding: 25px 15px;
  border: 2px solid #103148;
  margin-bottom: 50px;
}

.entrance-column {
	width: 50%;
	height: 450px;
	border-right: 2px solid #103148;
	float: left;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.entrance-up-row {
	display: flex;
	align-items: center;
	margin-left: -100px;
	margin-top: 40px;
	gap: 65px;
	color: #253139;
	font-size: 32px;
	font-weight: 600;
	margin-bottom: 35px;
}

.up-row-img {
	cursor: pointer;
}

.mail {
	background: #F1F2F5;
	padding: 18px 55px;
	margin-left: -24px;
	border-radius: 18px;
}

form {
	display: flex;
	flex-direction: column;
}

input {
	width: 310px;
	height: 60px;
	margin-bottom: 25px;
	border-radius: 20px;
	border: none;
	border: 2px solid #292933;
	font-size: 24px;
	padding: 0 0 0 15px;
}

form button {
	width: 325px;
	height: 60px;
	border-radius: 20px;
	background: #103148;
	border: none;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
	border: 1px solid #292933;
}

.register-column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.register-up-row {
	display: flex;
	align-items: center;
	margin-top: 40px;
	gap: 40px;
	color: #253139;
	font-size: 32px;
	font-weight: 600;
	margin-bottom: 35px;
}

header {
	margin-bottom: 30px;
}

.header-up-block {
	height: 100px;
	display: flex;
	justify-content: space-around;
	color: #253139;
	text-align: center;
	padding-top: 30px;
	margin-bottom: 50px;
}

.icon {
	cursor: pointer;
}

@media (max-width: 1000px) {
	.logo,
	.icon {
		width: 70px;
		height: 70px;
	}
}

.h1-title {
	font-size: 64px;
	font-weight: 600;
	width: 700px;
	line-height: 34px;
	margin-top: 20px;
}

span {
	font-size: 32px;
	font-weight: 500;
}

@media (max-width: 1370px) {
	.h1-title {
		font-size: 48px;
		width: 550px;
	}
	.h1-title span {
		font-size: 24px;
	}
}

@media (max-width: 900px) {
	.h1-title {
		font-size: 36px;
		width: 450px;
	}
	.h1-title span {
		font-size: 20px;
	}
}

.header-down-block {
	height: 80px;
	border-top: 2px solid #9cd7ff;
	border-bottom: 2px solid #9cd7ff;
}

.nav-list {
	display: flex;
	align-items: center;
	height: 80px;
	justify-content: space-evenly;
	font-size: 32px;
	color: #1a2f3e;
}

@media (max-width: 680px) {
	.nav-list img {
		display: none;
	}
}

.nav-link {
	font-weight: 400;
}

@media (max-width: 1370px) {
	.nav-link {
		font-size: 24px;
	}
}

@media (max-width: 900px) {
	.nav-link {
		font-size: 21px;
	}
}

@media (max-width: 680px) {
	.nav-link {
		font-size: 15px;
	}
}

























.footer {
	border-top: 2px solid #c0e6ff;
	color: #fff;
	font-weight: 600;
}

@media (max-width: 1370px) {
	.footer-up-block {
		font-size: 24px;
	}
}

.footer-down-block {
	height: 200px;
	background: #145a88;
}

.container2 {
	max-width: 1400px;
	margin: 0 auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 200px;
}

.social-icons {
	display: flex;
	gap: 40px;
}

@media (max-width: 1370px) {
	.social-icons {
		gap: 25px;
	}
	.tg,
	.vk,
	.inst {
		width: 50px;
		height: 50px;
	}
}

@media (max-width: 990px) {
	.social-icons {
		gap: 15px;
	}
	.tg,
	.vk,
	.inst {
		width: 40px;
		height: 40px;
	}
}

@media (max-width: 750px) {
	.tg,
	.vk,
	.inst {
		width: 30px;
		height: 30px;
	}
}

@media (max-width: 650px) {
	.tg,
	.vk,
	.inst {
		width: 25px;
		height: 25px;
	}
}

.footer-text {
	font-size: 32px;
	margin-bottom: 30px;
}

@media (max-width: 1370px) {
	.footer-text {
		font-size: 24px;
	}
}

@media (max-width: 990px) {
	.footer-text {
		font-size: 20px;
	}
}

@media (max-width: 750px) {
	.footer-text {
		font-size: 18px;
	}
}

@media (max-width: 650px) {
	.footer-text {
		font-size: 14px;
	}
}

.contact-numbers,
.email-text,
.help-text {
	font-size: 24px;
	margin-bottom: 15px;
}

@media (max-width: 1370px) {
	.contact-numbers,
	.email-text,
	.help-text {
		font-size: 20px;
	}
}

@media (max-width: 990px) {
	.contact-numbers,
	.email-text,
	.help-text {
		font-size: 17px;
	}
}

@media (max-width: 750px) {
	.contact-numbers,
	.email-text,
	.help-text {
		font-size: 14px;
	}
}

@media (max-width: 650px) {
	.contact-numbers,
	.email-text,
	.help-text {
		font-size: 10px;
	}
}
